:root {
/* This is the color pallet for this site */
/* CSS HEX */
    --imperial-red: #e63946ff;
    --white: #f1faeeff;
    --soft-blue: #a8dadcff;
    --mid-blue: #457b9dff;
    --dark-blue: #1d3557ff;
    --oxford-blue: #0b132bff;
    --space-cadet: #1c2541ff;
    --independence: #3a506bff;
    --maximum-blue-green: #5bc0beff;
    --turquoise: #6fffe9ff;
}
/* body general style */
body {
    background-color: var(--oxford-blue);
    display: block;   
    position: relative; 
}

/* 
    NAV-BAR STYLE 
*/

/* header style */
.nav {
    height: auto;
    color: var(--white);
    background: var(--oxford-blue);
    display: flex;
}


/* logo style */
.logo {
    font-size: 1.6vw;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: var(--turquoise);
}

.logo h2 {
    text-align: center;
    padding: 10px;
}

/* style for the numbering of the menu items in tha nav bar */
nav span {
    font-family: 'Roboto', sans-serif;
    opacity: 1;
    font-weight:bolder;
}

/* nav bar options style */
.header nav ul li {
    list-style: none;
    text-align: center;
}

/* style of menu items in the nav bar */
a {
    color: var(--turquoise);
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5vw;
}

/* style for hover over menu items in the nav bar */
.menu-item:hover span, .menu-item:hover {
    color: coral;
}

.bg-light {
    --bs-bg-opacity: 0;
}

#mainSection {
    position: relative;
}

#navbar-scrollspy {
    padding-top: 0;
    padding-bottom: 0;
}

#logoContainer {
    margin-top: 0;
    background-color: var(--oxford-blue);
    padding-top: 1em;
    padding-bottom: 1em;
}

#logoText:hover {
    color: var(--turquoise);
}

#aboutMeText:hover, #myWorkText:hover, #myContactText:hover  {
    color: coral;
}

.navbar-light .navbar-brand {
    color: var(--turquoise);
    font-size:x-large;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--independence);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--turquoise);
}

.navbar-toggler {
    background-color:turquoise;
    opacity: ;
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--white)
    opacity: 1;
}

.nav-link.active span {
    color: var(--white);
    opacity: 1;
}

/* 
    ABOUT ME section 
*/

/* about me container */
.about-me {
    margin: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

/* about me title */
.about-me-title {
    color: var(--turquoise);
    font-family: 'Share Tech Mono', monospace;
    margin: 0px;
    width: 25%;
    height: auto;
    background: var(--oxford-blue);
    text-align: center;
}

.about-me-title h2, .my-work-title h2, .my-contact-title h2 {
    font-size:medium;
}

/* about me info */
.about-me-text {
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    margin-left: 0px;
    border-left: 1px solid var(--turquoise);
    width: 75%;
    height: auto;
    text-align: left;
    flex: 1 1 70%;
}


/* 
    MY WORK section 
*/
/* my work container */
.my-work {
    margin: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

/* my work title */
.my-work-title {
    color: var(--turquoise);
    font-family: 'Share Tech Mono', monospace;
    margin: 0px;
    width: 25%;
    height: auto;
    background: var(--oxford-blue);
    text-align: center;
    display: block;
    align-self: flex-start;
}

/* my work = my projects */
.projects {
    margin: 0px;
    width: 55vw;
    display: flex;
    flex-flow: row wrap;
}

/* style of the project cards */
.project {
    margin: 0;
    border: 1px solid var(--maximum-blue-green);
    height: auto;
    flex: 1 1 35%;
}

/* style for hover over project title box */
.project-title:hover {
    background: coral;
    color: var(--white);
}

/* box with project title */
.project-title {
    color: var(--space-cadet);
    font-family: 'Share Tech Mono', monospace;
    background: var(--turquoise);
    max-width: 50%;
    min-height: 10%;
    padding: 0.1% 0 0.1% 1%;
    text-align: left;
    position: relative;
    z-index: 1000;
    top: 70%;
}

.carousel-inner {
    height: 45vh;
    /* width: 65vw; */
}

/* style for text inside the project title box */
.project-title a {
    color: var(--space-cadet);
    font-size: smaller;
}


/* The Boring App */
#project-1 {
    background-position: top;
    flex: 1 1 65vw;
}

/* Weather Dashboard */
#project-2 {
    background-position: top;
    flex: 1 1 65vw;
}

/* MovieFlix */
#project-3 {
    background-position: top;
    flex: 1 1 65vw;
}

/* Work Scheduler */
#project-4 {
    background-position: top;
    flex: 1 1 65vw; 
}


/* 
    MY CONTACT section
*/
/* my contact container */
.my-contact {
    margin: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

/* my contact title */
.my-contact-title {
    color: var(--turquoise);
    font-family: 'Share Tech Mono', monospace;
    margin: 0px;
    width: 25%;
    height: auto;
    background: var(--oxford-blue);
    text-align: center;
    display: block;
}

/* my contact info */
.contact-media {
    padding: 5px;
    margin: 5px;
    width: 55%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
}

/* style for hover over social media icons */
i:hover {
    transform: scale3d(1.2,1.2,1.2);
    color: coral;
}

/* footer style */
footer {
    background: var(--independence);
    color: var(--maximum-blue-green);
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    padding: 1em;
}