:root {
/* This is the color pallet for this site */
/* CSS HEX */
    --imperial-red: #e63946ff;
    --white: #f1faeeff;
    --soft-blue: #a8dadcff;
    --mid-blue: #457b9dff;
    --dark-blue: #1d3557ff;
    --oxford-blue: #0b132bff;
    --space-cadet: #1c2541ff;
    --independence: #3a506bff;
    --maximum-blue-green: #5bc0beff;
    --turquoise: #6fffe9ff;
}
/* body general style */
body {
    background-color: var(--oxford-blue);
    display: block;    
}

/* 
    NAV-BAR STYLE 
*/

/* header style */
.header {
    height: auto;
    color: var(--white);
    background: var(--oxford-blue);
    display: flex;
    justify-content: space-between;
}

/* logo style */
.logo {
    font-size: 1.6vw;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: var(--turquoise);
    width: 25%;
}

.logo h2 {
    text-align: center;
    padding: 10px;
}

/* nav bar style */
.header nav {
    min-width: 75%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* style of the menu items list */
nav ul {
    display: flex;
    justify-content: center;
}

/* style for the numbering of the menu items in tha nav bar */
nav span {
    color: var(--maximum-blue-green);
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
    font-weight:bolder;
}

/* nav bar options style */
.header nav ul li {
    min-width: 15vw;
    list-style: none;
    text-align: center;
    flex: 1 1 20%;
}

/* style of menu items in the nav bar */
a {
    color: var(--turquoise);
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5vw;
}

/* style for hover over menu items in the nav bar */
.menu-item:hover span, .menu-item:hover {
    color: coral;
}

/* 
    ABOUT ME section 
*/

/* about me container */
.about-me {
    margin: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

/* about me title */
.about-me-title {
    color: var(--turquoise);
    font-family: 'Share Tech Mono', monospace;
    margin: 0px;
    width: 25%;
    height: auto;
    background: var(--oxford-blue);
    text-align: center;
}

/* about me info */
.about-me-text {
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    margin-left: 0px;
    border-left: 1px solid var(--turquoise);
    width: 75%;
    height: auto;
    text-align: left;
    flex: 1 1 70%;
}


/* 
    MY WORK section 
*/
/* my work container */
.my-work {
    margin: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

/* my work title */
.my-work-title {
    color: var(--turquoise);
    font-family: 'Share Tech Mono', monospace;
    margin: 0px;
    width: 25%;
    height: auto;
    background: var(--oxford-blue);
    text-align: center;
    display: block;
    align-self: flex-start;
}

/* my work = my projects */
.projects {
    margin: 0px;
    width: 70%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
}

/* style of the project cards */
.project {
    margin: 0;
    box-shadow: 0px 0px 200px 50px var(--space-cadet) inset;
    border: 1px solid var(--maximum-blue-green);
    width: 35%;
    height: auto;
    flex: 1 1 35%;
}

/* style for hover over project box / image */
.project:hover {
    box-shadow: 0 0 0 0;
}

/* style for hover over project title box */
.project-title:hover {
    background: coral;
    color: var(--white);
}

/* box with project title */
.project-title {
    color: var(--space-cadet);
    font-family: 'Share Tech Mono', monospace;
    background: var(--turquoise);
    max-width: 50%;
    min-height: 10%;
    padding: 0.1% 0 0.1% 1%;
    text-align: left;
    position: relative;
    top: 70%;
}

/* style for text inside the project title box */
.project-title a {
    color: var(--space-cadet);
    font-size: smaller;
}

/* mini project week 1 */
#project-1 {
    background-image: url(./images/project-1-mini-project.jpeg);
    width: 70%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    flex: 1 1 70%;
}

/* who app */
#project-2 {
    background-image: url(./images/who-info-background.jpeg);
    width: 35%;
    height: 25vh;
    background-size: cover;
    background-position: center 10%;
    flex: 1 1 35%;
}

/* equality */
#project-3 {
    background-image: url(./images/still-fighting-for-this-shit.jpeg);
    width: 35%;
    height: 25vh;
    background-size: cover;
    background-position: top 10%;
    flex: 1 1 35%;
}

/* climate change */
#project-4 {
    background-image: url(./images/planet-over-profit.jpeg);
    width: 35%;
    height: 25vh;
    background-size: cover;
    background-position: top 10%;
    flex: 1 1 35%;
}

/* unicef */
#project-5 {
    background-image: url(./images/unicef.jpeg);
    width: 35%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    flex: 1 1 35%;
}

/* 
    MY CONTACT section
*/
/* my contact container */
.my-contact {
    margin: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

/* my contact title */
.my-contact-title {
    color: var(--turquoise);
    font-family: 'Share Tech Mono', monospace;
    margin: 0px;
    width: 25%;
    height: auto;
    background: var(--oxford-blue);
    text-align: center;
    display: block;
}

/* my contact info */
.contact-media {
    padding: 5px;
    margin: 5px;
    width: 70%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
}

/* style for hover over social media icons */
i:hover {
    transform: scale3d(1.2,1.2,1.2);
    color: coral;
}

/* footer style */
footer {
    background: var(--independence);
    color: var(--maximum-blue-green);
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    padding: 1em;
}

/* media screen config for screen size starting at 700px width */
@media screen and (max-width: 700px) {
    * {
        flex-flow: column wrap;
    }

    .header {
        flex-direction: column;
        align-self: center;
        justify-items: center;
    }

    .projects {
        flex-flow: column wrap;
    }

    .project {
        min-width: 20rem;
        min-height: 20rem;
        align-self: center;

    }

    .my-work-title {
        align-self: center;
    }
}